<!DOCTYPE html>
<html>

<head>
    <title>Multiple CSV File Upload</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data">
        <h4>Upload OD_down Folder</h4>
        <label for="folder">Upload Folder:</label>
        <input type="file" id="OD_down" name="OD_down" webkitdirectory directory multiple>
        <h4>Passenger Arrival</h4>
        <input type="file" name="file1" accept=".csv">
        <h4>Distance</h4>
        <input type="file" name="file2" accept=".csv">
        <h4>Frequency</h4>
        <input type="file" name="file3" accept=".csv">
        <h4>Timeperiod</h4>
        <input type="file" name="file4" accept=".csv">
        <h4>Link Travel Time</h4>
        <input type="file" name="file5" accept=".csv">
        <h4>Alighting rate</h4>
        <input type="file" name="file6" accept=".csv">
        <h4>Fare</h4>
        <input type="file" name="file7" accept=".csv">
        <br></br>

        <label for="fuelprice">fuelprice:</label>
        <input type="text" id="fuelprice" name="fuelprice" value="">


        <br>

        <label for="kmperliter">kmperliter:</label>
        <input type="text" id="kmperliter" name="kmperliter" value="">
        <br>

        <label for="busmaintenance">busmaintenance:</label>
        <input type="text" id="busmaintenance" name="busmaintenance" value="">
        <br>

        <label for="buscost">buscost:</label>
        <input type="text" id="buscost" name="buscost" value="">
        <br>

        <label for="buslifecycle">buslifecycle:</label>
        <input type="text" id="buslifecycle" name="buslifecycle" value="">
        <br>
        <label for="crewperbus">crewperbus:</label>
        <input type="text" id="crewperbus" name="crewperbus" value="">
        <br>
        <label for="creqincome">creqincome:</label>
        <input type="text" id="creqincome" name="creqincome" value="">
        <br>
        <label for="cr_trip">cr_trip:</label>
        <input type="text" id="cr_trip" name="cr_trip" value="">
        <br>
        <label for="cr_day">cr_day:</label>
        <input type="text" id="cr_day" name="cr_day" value="">
        <br>
        <label for="seatcap">seatcap:</label>
        <input type="text" id="seatcap" name="seatcap" value="">
        <br>
        <label for="min_c_lvl">min_c_lvl:</label>
        <input type="text" id="min_c_lvl" name="min_c_lvl" value="">
        <br>
        <label for="max_c_lvl">max_c_lvl:</label>
        <input type="text" id="max_c_lvl" name="max_c_lvl" value="">
        <br>
        <label for="hrinperiod">hrinperiod:</label>
        <input type="text" id="hrinperiod" name="hrinperiod" value="">
        <br>
        <label for="bus_left">bus_left:</label>
        <input type="text" id="bus_left" name="bus_left" value="">
        <br>
        <label for="max_wait">max_wait:</label>
        <input type="text" id="max_wait" name="max_wait" value="">
        <br>
        <label for="c_waittime">c_waittime:</label>
        <input type="text" id="c_waittime" name="c_waittime" value="">
        <br>
        <label for="c_invehtime">c_invehtime:</label>
        <input type="text" id="c_invehtime" name="c_invehtime" value="">
        <br>
        <label for="min_ppp">min_ppp:</label>
        <input type="text" id="min_ppp" name="min_ppp" value="">
        <br>
        <label for="max_pplpt">max_pplpt:</label>
        <input type="text" id="max_pplpt" name="max_pplpt" value="">
        <br>
        <label for="kmperliter2">kmperliter2:</label>
        <input type="text" id="kmperliter2" name="kmperliter2" value="">
        <br>
        <label for="max_opc">max_opc:</label>
        <input type="text" id="max_opc" name="max_opc" value="">
        <br>
        <label for="penalty">penalty:</label>
        <input type="text" id="penalty" name="penalty" value="">
        <br>
        <label for="min_rvpt">min_rvpt:</label>
        <input type="text" id="min_rvpt" name="min_rvpt" value="">
        <br>
        <label for="c_cantboard">c_cantboard:</label>
        <input type="text" id="c_cantboard" name="c_cantboard" value="">
        <br>

        <label for="min_dwell">min_dwell:</label>
        <input type="text" id="min_dwell" name="min_dwell" value="">




        <input type="submit" value="Upload CSV Files">


    </form>
</body>

</html>